@keyframes changeBG {
    0% {
        background-color:#ffffff;
    }
    100% {
        background-color:#bfdfbf;
    }
}
@keyframes changeBGReverse {
    0% {
        background-color:#bfdfbf;
    }
    100% {
        background-color:#ffffff;
    }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes rotatedFailed {
    0% {
        /* border: 2px solid red; */
        transform: rotateY(0deg);
    }
    25% {
        transform: rotateY(10deg);
    }
    50% {
        transform: rotateY(20deg);
    }
    75% {
        transform: rotateY(10deg);
    }
    100% {
        /* border: 0; */
        transform: rotateY(0deg);
    }
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor:pointer;
}  
body {
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Italiana';
}
.marginTop{
    margin-top: 30px;
}
.container {
    margin-top: 10%;
    display: grid;
    justify-content: center;
    text-align: center;
}
.messagePomodoro {
    width: 790px;
    padding: 12px;
    border-radius: 11px;
    background-color: #a39a9a29;
    left: 23%;
    position: absolute;
    top: 2%;
    border: 3px solid #3ad93a75;
    display: none;
}
.timer {
    /* font-size: 122px;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-color: #7DA7CD; */
    transition: 0.3s;
}
.largeBreakDiv {
    top: 133px;
    position: absolute;
    left: 430px;
}
#largeBreakTitle {
    margin-block: 60px;
}
.timer2 {
    margin-left: 57px;
    font-size: 122px;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-color: #7DA7CD;
    transition: 0.3s;
}
.timer:hover, .timer2:hover {
    cursor: pointer;
    transform: scale(1.03);

}
.timerText {
    margin-left: 10px;
    font-size: 120px;
    margin-top: 54px;
}
.timerText2 {
    padding-top: 49px;
    margin-left: 10px;
    font-size: 120px;
}
.cronoBreakButton {
    margin-left: 50px;
    margin-top: 42px;
}
.charge {
    margin-left: 59px;
    border-radius: 20px;
    width: 300px;
    height: 17px;
    /* background-color: #7DA7CD; */
    border: 2px solid black;
}
.startCrono , .startCronoLargeBreak{
    border: 0;
    font-size: 30px;
    border-radius: 12px;
    width: 170px;
    height: 80px;
    background-color: #7DA7CD;
    transition: 0.3s;
}
.startCrono:hover {
    cursor: pointer;
    transform: scale(1.03);
}


.tarjeta_caja {
    margin-left: 57px;
    display: inline-block;
    background-color: transparent;
    width: 350px;
    height: 317px;
    perspective: 1000px;
}
.tarjetas {
    font-size: 122px;
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-color: #7DA7CD;
    position: relative;
    text-align: center;
    transition: transform 0.9s;
    transform-style: preserve-3d;
}
.tarjeta_caja:hover .tarjetas {
    cursor: pointer;
    box-shadow: 0px 0px 1px #f8f8f8;
} 
.cara, .culo {
    display: grid;
    place-content: center;
    position: absolute;
    backface-visibility: hidden;
}
.culo {
    /* font-size: 122px; */
    border-radius: 150px;
    width: 300px;
    height: 300px;
    background-color: #7ACE8C;
    transition: 0.3s;
    transform: rotateY(180deg);
}
.culo #contenido {
    width: auto;
}
.workMaker {
    border-radius: 49px;
    top: 0;
    background-color: #7DA7CD;
    height: 100%;
    position: absolute;
    right: -20px;
    width: 702px;
}
.workMakerComplete {
    left: 0 !important;
    width: 420px;
}
.headerDragg{
    left: 456px; 
    position: absolute;
    font-size: 30px;
}
.headerDragg2{
    left: 111px;
    position: absolute;
    font-size: 30px;
}
.headerDraggCompletado {
    top: 51px;
    left: 130px;
    position: absolute;
    font-size: 30px;
}
.line {
    right: 348px;
    background-color: white;
    height: 100%;
    width: 2px;
    position: absolute;
}
.draggableContainer {
    overflow: hidden scroll;
    left: 40px;
    position: absolute;
    top: 200px;
    width: 287px;
    height: 70%;
    margin: 10px;
    padding: 10px;
}
.draggableContainer2 {
    left: 367px !important;
}
.completedTasks {
    left: 62px !important;
}
.draggObject {
    color: white;
    background-color: black;
    height: 280px;
    width: 260px;
    border-radius: 29px;
    margin-bottom: 30px;
    display: grid;
    justify-items: center;
}
.draggObject:hover {
    cursor: grab;
}
.createWorks {
    width: 48px;
    height: 40px;
    top: 1px;
    right: 251px;
    position: absolute;
    background-image: url('../img/añadir.png');
    background-size: cover;
    /* animation: flotating 1s infinite; */
    /* transform: scale(1); */
}
.createWorks:hover {
    cursor: pointer;
}
.dragging {
    cursor: grabbing;
}
.createObjectDraggeableDiv {
    right: 420px;
    position: absolute;
    height: 460px;
    width: 600px;
    background-color: #0000004a;
    border-radius: 49px;
    display: none;
}
.createDivForm {
    font-size: 33px;
    margin-top: 7px;
    margin-left: 70px;
    width: 470px;
}
.form-control {
    text-align: center;
    border: 0;
    background-color: #7DA7CD;
}
#lDiss, #lFront, #lBack {
    border-radius: 12px;
    transform: scale(1.7);
    margin-right: 55px;
}
#diss:checked+.btn, #lDiss:hover {
    color: black !important;
    background-color: #9C93FE !important;
    border: 0;
}
#front:checked+.btn, #lFront:hover {
    color: black !important;
    background-color: #FF8888 !important;
    border: 0;
}
#back:checked+.btn, #lBack:hover {
    color: black !important;
    background-color: #FFC75A !important;
    border: 0;
}
.btn {
    transform: scale(1.4);
    border: 0;
    background-color: #7DA7CD;
    color: black !important;

}
#createButton {
    border-radius: 12px;
    left: 267px;
    position: absolute;
    top: 376px;
    background-color: #7DA7CD;
    color: black;
    transition: 0.5s;
}
#createButton:hover {
    transform: scale(1.5);
}
.taskIsCompleted {
    border: 5px solid #7ACE8C;
}
.taskIsCompleted:hover {
    cursor: url(../img/cursor.png),auto;
}
.deleteButton {
    background-size: cover;
    width: 57px;
    height: 62px;
    background-image: url('../img/delete.png');
    transition: 0.5s;
}
.deleteButton:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.sureMessage {
    z-index: 1;
    border: 3px solid #ff00007a;
    border-radius: 49px;
    padding: 20px;
    background-color: #ffffff;
    width: 330px;
    font-size: 20px;
    position: absolute;
    display: none;
    top: 220px;
    left: 908px;
}
#deleteTask {
    padding: 18px;
    font-size: 18px;
    background-color: #f51e1ea8;
    color: white;
    border: 0;
    border-radius: 7px;
    transition: 0.4s;
}
#deleteTask:hover {
    transform: scale(1.04);
}
.configs {
    top: 19.5%;
    left: 56%;
    position: absolute;
    width: 60px;
    height: 59px;
}
#settingsImg {
    transition: 0.3s;
}
#settingsImg:hover {
    cursor: pointer;
    transform: scale(1.04);
}
.configWindow {

    justify-items: center;
    display: none;
    background-color: white;
    border-radius: 49px;
    top: -158px;
    left: -421px;
    border: 5px solid #7DA7CD;
    width: 410px;
    height: 227px;
    position: absolute;
}
.window, .window2 {
    z-index: 2;
    background-color: white;
    border-radius: 11px;
    border: 3px solid #ff00007a;
    right: -22px;
    top: -19px;
    width: 63px;
    height: 43px;
    /* border: 1px solid red; */
    position: absolute;
    transition: 0.3s;
}
.window:hover, .window2:hover {
    transform: scale(1.04);
    cursor: pointer;
}
#exitIcon {
    z-index: 0;
}
#createdWell {
    display: none;
    font-size: 20px;
    color: #16b516;
    left: 264px;
    bottom: 3px;
    position: absolute;
}
